* {
  font-family: Arial, Helvetica, sans-serif
}

/*                 Header  */

body {
  display: block;
}

#mainPage {
  display: flex;
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  margin: 0px;

}
aside {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5px;
  padding: 15px
}
section {
  display: block;
  flex: 4;
}

#forecastWeather {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px;
  flex: 1 0 250px;

}

.forecastCard {
  margin: 10px;
  background-color: lightgray;
}
#arrayButtons{
  display: flex;
  flex-direction: column;
 }
 
#citySearch{
  padding: 5px;
  margin: 5px;

}

.cityArrayButton {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}





















#cityButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#cityButton:hover {
  background-color: rgba(255, 0, 0, 1);
}

#cityButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
